/******cssreset*******/
/*http://meyerweb.com/eric/thoughts/2008/01/15/resetting-again/*/
html, body, div, span, applet, object, iframe,

h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/******common*******/
body *{
font-family:"メイリオ","Meiryo",arial,"ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro",Osaka,"ＭＳ Ｐゴシック","MS PGothic",Sans-Serif;
font-size:12px;
color:#333;
line-height:120%;
}


input, select, textarea,label {
font-size: 15px;
margin:0;
padding:0;
vertical-align: middle;
}
.title{
font-weight: bold;
font-size: 14px;
}
.center{
text-align:center;
}
span.cfix{
clear:both;	
}
span.label{
margin: 0px 10px 0px 0;
font-size:16px;
}

/*テキストフィールドサイズ*/
.input_text_short{
	width:60px;
}
.input_text_slm{
	width:100px;
}
.input_text_mid{
	width:200px;
}

.btn.comp.selected {
    background: #44f186;
}
/******構造*******/
BODY{
margin:0;
padding:0;
background-color:#FFF;
background-repeat:repeat-x;
}


/*ヘッダー領域*/
#header{
    margin: 0;
    padding: 8px;
    text-align: left;
    background-color: #666666;
}

#header a{
margin: 0 4px;
}
#header ul{
    display: inline;
}
#header ul li{
    display: inline-block;
}
/*#header ul li.distince{
    width: 80px;
}
#header ul li.status{
    width: 80px;
}*/
#header select{
    display: inline-block;
    padding: 4px 10px 4px;
    margin-bottom: 0;
    font-size: 12px;
    line-height: 18px;
    background-color: #f5f5f5;
    text-align: center;
}
/**パネル**/
#float_panel{
    position: absolute;
    z-index: 1000;
    top: 100px;
    width: 90%;
    margin: 0;
    text-align: center;
    padding: 6px 10px;
    background-color: #FFF;
    /*background-color: rgba(255,255,255,0.6);*/
    overflow: hidden;
    display: block;
    border: 1px solid #666;
    border-radius: 10px;
    box-shadow: 2px 2px 3px #666;
    display: none;
}

#float_panel .btn{
	font-weight: bold;
}
#float_panel .close{
    display: block;
    position: absolute;
    right: 3px;
    top: 3px;
    width: 35px;
    font-size: 14px;
}

#float_panel ul li{
    display: block;
    list-style: none;
    margin: 8px 0px;
}
/*検索パネル*/
#search{
    min-height: 50px;
}
/*ブックマークパネル*/
#bookmark{
/*    min-height: 100px;
    overflow: hidden;*/
}
#bookmark_list{
    border: 1px solid #A0A0A0;
    overflow-y: scroll;
    margin: 0;
    max-height: 400px;
    min-height: 100px;
}
#bookmark_list_txte{
    width: 100%;
    height: 400px;
}

/*説明*/
#info_area{
    width: 100%;
    height: 400px;
}

/******/
#map_wrap{
overflow:hidden;
}

#map_canvas{
/*width:660px;
height:550px;
position:absolute;
top:34px;left:0;*/
}

#right_wrap{
width: 340px;
position:absolute;
top:34px;left:661px;
/*right:1px;*/

}

/********コントロール**********/
/*閉じるボタン*/
#float_panel .close_b{
position:absolute;
right:10px;
top:5px;
cursor:pointer;	
width: 19px;
height: 18px;
}

div.box{
	clear:both;
	margin:4px 4px;
}

/*一括選択リスト*/
#area_list{
    text-align: center;
    max-height: 300px;
    overflow-y: scroll;
}
#area_list ul li{
    display: block;
    float: left;
    border: 1px solid #666;
    background-color: #fff;
    margin: 2px;
    padding: 4px;
    width: 110px;
    overflow: hidden;

}
#area_list label{
    font-size: 12px;
}
#area_list hr{
    clear: both;
}

/*下線付き　div.box*/
.bottom_border{
border-bottom: 1px solid #aaa;
padding-bottom: 4px;
}


/*読み込み中*/
#load_lock {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #666666;
    text-align: center;
    opacity: 0.6;
    display: none;
}